<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>historial_transacciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">historial_transacciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-title>Compras</ion-title>
  <ion-grid>
    <ion-row>
      <ion-col>ID</ion-col>
      <ion-col>Compra</ion-col>
      <ion-col>Hora</ion-col>
      <ion-col>Precio</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
