ion-toolbar{
    --ion-background-color: #4056c9;
    color: white;
   
  }

  ion-content {
    --ion-background-color: #5055ff;
  }

  #Titulo_tabla{
    text-align: center;
  }

  ion-col{
    display: flex;
    justify-content: space-around;
  }

