<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>registrar-ropa-s</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registrar-ropa-s</ion-title>
    </ion-toolbar>
  </ion-header>
<div id="container">
  <img alt="" src="/assets/img/7f8090dc28bdb048124beca6bcd0f9cd-cesto-ropa-lavanderia-azul.png" width="270px" />
  <form [formGroup]="formulario">
  <ion-input formControlName="marca" label="Marca" label-placement="floating" fill="outline" placeholder="" required></ion-input>
  <ion-input formControlName="cantidad" label="Cantidad" label-placement="floating" fill="outline" placeholder="" required></ion-input>
  <ion-input formControlName="limpieza" label="Limpieza" label-placement="floating" fill="outline" placeholder="" required></ion-input>
  <ion-input formControlName="tipo" label="Tipo" label-placement="floating" fill="outline" placeholder="" required></ion-input>
  <ion-button (click)="registrarRopa()">
    <ion-icon slot="start" name="add"></ion-icon>
    Registar ropa
  </ion-button>
</form>
</div>

</ion-content>
