ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #5055ff));
}


ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  background-color: #4056c9;
  border-bottom: 1px solid var(--ion-color-step-150, #224996);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 18px;
}
ion-menu.md ion-list#labels-list {
  background-color: #5055ff; /* Cambia #00ff00 al color que desees */
}
ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #3b3b3c;

  min-height: 26px;
}

ion-menu.md ion-item {
  --background: #2f459e;
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 1px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: rgb(255, 255, 255);
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
  --color: #FFFFFF;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

ion-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  --ion-background-color: #5055ff
}
