<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>reportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">reportes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let reporte of reportes">
    <ion-card-header>
      <ion-card-title>Reporte #{{ reporte.id }}</ion-card-title>
      <ion-card-subtitle>Lo que se reportó:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <h3>Cantidad de ropa sucia: {{ reporte.cantidad_ropa_limpia }}</h3>
      <h3>Cantidad de ropa egresada: {{ reporte.cantidad_de_ropa_egresada }}</h3>
      <h3>Conteo de ropa de este mes: {{ reporte.conteo_ropa_mensual }}</h3>
      <h4>Mensaje para el reporte:</h4>
      <p>{{ reporte.mensaje }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>