<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>registro-ropa-limpia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro-ropa-limpia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card id="container">
    <img alt="" src="/assets/img/7f8090dc28bdb048124beca6bcd0f9cd-cesto-ropa-lavanderia-azul.png" width="300px" />
    <ion-card-header>
      <ion-card-title style="color: white;">Registro de ropa limpia</ion-card-title>
      <ion-card-subtitle style="color: white;">Cantidades x de ropas que se registraron</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button routerLink="/registrar-ropa-l">
        <ion-icon slot="start" name="add"></ion-icon>
        Registrar ropa
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
