ion-toolbar{
    --ion-background-color: #4056c9;
    color: white;
  }

  ion-content {
    --ion-background-color: #5055ff;
  }

  #footer{
    text-align: center;
  }
  #contenido{
    text-align: center;
  }