<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ver_ropa_egresada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ver_ropa_egresada</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="contenedor-cuadrados">
  <div class="cuadrado">
    <ion-img src="/assets/img/4178034.png" alt="Descripción de la imagen"></ion-img>
    <div class="atributos">
      <ion-label>Marca: White</ion-label>
      <ion-label>Cantidad: 20</ion-label>
      <!-- Agrega más atributos según sea necesario -->
    </div>
  </div>
  <div class="cuadrado">
    <ion-img src="/assets/img/4178034.png" alt="Descripción de la imagen"></ion-img>
    <div class="atributos">
      <ion-label>Marca: Santiago white</ion-label>
      <ion-label>Cantidad: 20</ion-label>
      <!-- Agrega más atributos según sea necesario -->
    </div>
  </div>
  <div class="cuadrado">
    <ion-img src="/assets/img/4178034.png" alt="Descripción de la imagen"></ion-img>
    <div class="atributos">
      <ion-label>Marca: hospital usa</ion-label>
      <ion-label>Cantidad: 20</ion-label>
      <!-- Agrega más atributos según sea necesario -->
    </div>
  </div>
  <div class="cuadrado">
    <ion-img src="/assets/img/4178034.png" alt="Descripción de la imagen"></ion-img>
    <div class="atributos">
      <ion-label>Marca: Peru White</ion-label>
      <ion-label>Cantidad: 20</ion-label>
      <!-- Agrega más atributos según sea necesario -->
    </div>
  </div>
</div>
</ion-content>
