<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title id="Titulo">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">

    <ion-card>
      <ion-card-header>

        <ion-card-title style="color: white;">Registro</ion-card-title>

      </ion-card-header>

      <ion-card-content>
      <form [formGroup]="formularioRegistro">
        <ion-list>
            <ion-item>
              <ion-input labelPlacement="floating" formControlName="usuario" type="text" value=""required>
                <div slot="label">Usuario </div>
              </ion-input>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-item>
              <ion-input labelPlacement="floating" formControlName="nombre" type="text" value="" required>
                <div slot="label">Nombre </div>
              </ion-input>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-item>
              <ion-input labelPlacement="floating" formControlName="apellido" type="text" value="" required>
                <div slot="label">Apellido </div>
              </ion-input>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-item>
              <ion-input labelPlacement="floating" formControlName="rut" type="text" value="" required>
                <div slot="label">Rut </div>
              </ion-input>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-item>
              <ion-input labelPlacement="floating" formControlName="email"  type="email" value="" required>
                <div slot="label">Email </div>
              </ion-input>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-item>
              <ion-input  labelPlacement="floating" formControlName="contrasena" value=""type="password" required>
                <div slot="label">Contraseña </div>
              </ion-input>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-item>
              <ion-input labelPlacement="floating" formControlName="confirmar_contrasena" value="" type="password" required>
                <div slot="label">Confirmar Contraseña </div>
              </ion-input>
            </ion-item>
          </ion-list>

      
          <ion-button fill="clear" (click)="registrar()" type="submit" >Registrar</ion-button>
        </form>
        </ion-card-content>
    
    
      </ion-card>
    </div>
</ion-content>
